{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalheaders %}
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row" style="background: #fff; padding-top: 2%; margin-top: 2%">
        <div class="large-12 small-12 large-centered columns" style="text-align: center">
            <div class="row">
                <div class="large-2 columns">
                    <a href="/main" class="left radius button">Back</a>
                </div>
                <div class="large-10 columns pull-1" style="text-align: center; position: relative">
                    <h1>{{ play.name }}</h1>

                    <h3>Created by: {{ play.creator.first_name }} {{ play.creator.last_name }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="large-8 small-12 columns">
                    <canvas id="outline" width="500" height="800">
                    </canvas>
                </div>
                <div class="large-4 columns">
                    <i class="fa fa-play" style="color: orangered; font-size: 4em" id="play"></i>
                    <br>
                    <i class="fa fa-fast-backward" style="color: orangered; margin-top: 20px; font-size: 4em"
                       id="reset"></i>
                    <br>
                    <i class="fa fa-camera" style="color: orangered; margin-top: 20px; font-size: 4em"
                       id="snapshot"></i>

                    <h3 style="margin-top: 40px">Tags</h3>

                    <div class="row">
                        <div class="small-12 large-6 large-centered columns" id="current-tags">
                            {% for id, tag in preferred_tags %}
                                <span data-id="{{ id }}"
                                      class="labels {% if id in play.get_id_tags %}selected{% endif %}">{{ tag }}
                                    {% if id in play.get_id_tags %}<span class="close">x</span>{% endif %}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% if available_tags %}
                        <div class="row">
                            <div class="small-12 large-6 large-centered columns">
                                <select id="play-tags" name="tags-to-add" data-placeholder="Add more tags..."
                                        class="chosen-select">
                                    <option value="-1">Add other tags</option>
                                    {% for id, tag in available_tags %}
                                        <option value="{{ id }}">
                                            {{ tag }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row" id="above-canvas">
            </div>
            <div class="row" id="canvases">
            </div>
            <div class="row" id="below-canvas">
            </div>
        </div>
    </div>
    <div class="light-box" id="current-snap-light">
        <p> Canvas Draw </p>
        <canvas id="canvas" width="600" height="400">
        </canvas>
        <div class="setting">
            Outline Colour
            <canvas id="outline" width="125" height="50">
            </canvas>
            <canvas id="head" width="125" height="25">
            </canvas>
            <canvas id="type" width="125" height="25">
            </canvas>

            <button onclick="clearCanvas()">Clear Annotation</button>
            <button onclick="undo()">Undo</button>
            <button onclick="redo()">Redo</button>
            <button onclick="changeLineWidth()">Change Line Width</button>
        </div>
        <div class="status">
            <span> Currently selected action: </span>
            <span id="status"> </span>
        </div>
        <div>
            <span> Current Line Width: </span>
            <span id="current_line_width"> </span>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
    <script>
        $(function () {
            var curr_clicked = null;

            function add_tag() {
                curr_clicked = $(this);
                $.post('{% url 'plays:add_tag' play.id %}', {'id': $(this).data('id')}, function (data) {
                    if (parseInt(data['fail']) == 0) {
                        curr_clicked.addClass('selected');
                        curr_clicked.append('<span class="close">x</span>');
                    }
                });
            }

            $('#current-tags').delegate('.labels:not(.selected)', 'click', add_tag);

            function remove_tag() {
                curr_clicked = $(this).parent();
                event.stopPropagation();
                $.post('{% url 'plays:remove_tag' play.id %}', {'id': $(this).parent().data('id')}, function (data) {
                    if (parseInt(data['fail']) == 0) {
                        curr_clicked.removeClass('selected');
                        curr_clicked.find('span').remove();
                    }
                });
            }

            $('#current-tags').delegate('.labels.selected .close', 'click', remove_tag);

            $(".chosen-select").chosen();

            $('.chosen-select').on('change', function (evt, params) {
                if (parseInt($(this).val()) != -1) {
                    curr_clicked = $(this);
                    $.post('{% url 'plays:add_tag' play.id %}', {'id': $(this).val()}, function (data) {
                        if (parseInt(data['fail']) == 0) {
                            $('#current-tags').append('<span data-id="' + curr_clicked.val() + '"' +
                                    'class="labels selected">' + curr_clicked.text() + '<span class="close">x</span></span>');
                            $(curr_clicked.find('option')[curr_clicked.prop('selectedIndex')]).remove();
                            curr_clicked.prop('selectedIndex', 0);
                            $('.chosen-select').trigger("chosen:updated");
                        }
                    });
                }
            });
        });
    </script>
    <script>
    $(function () {
        var STILL = 0;
        var MOVE = 1;
        var PASS = 2;
        var DONESCREEN = 3;
        var SCREEN = 4;

        var bkgrd = new Image();
        var play = null;
        var move = null;
        var sprites = [];
        var ball = null;
        var replay_progress = 0;
        var PASS_SPEED = 8;
        var curr_has_ball = -1;
        var passingTo = -1;
        var curr_event_index = 0;

        /****************************Sprite class **********************/
        function Sprite(ctx, block_img) {
            this.context = ctx;
            this.x = 0;
            this.y = 0;
            this.r = 30;
            this.name = "a";
            this.color = 'red';
            this.hasBall = false;
            this.block = block_img;
            this.state = 0;
            this.theta = 0;
        }

        Sprite.prototype.draw = function () {
            if (this.state == SCREEN) {
                this.context.translate(this.x, this.y);
                this.context.rotate(this.theta);
                this.context.drawImage(this.block, -this.r * 2, -this.r, this.r * 4, this.r * 2);
                this.context.rotate(-this.theta);
                this.context.translate(-this.x, -this.y);
            } else {
                this.context.beginPath();
                this.context.arc(this.x, this.y, this.r, 0, Math.PI * 2);
                this.context.fillStyle = this.color;
                this.context.strokeStyle = this.color;
                this.context.fill();
                this.context.stroke();
                this.context.fillStyle = 'black';
                this.context.font = "20px Arial";
                this.context.fillText(this.name, this.x - 13, this.y + 8);
                //WARNING: hardcoded font and positions...
                if (this.hasBall == true) {
                    ball.update(this.x, this.y);
                    ball.draw();
                }
            }
        };
        Sprite.prototype.update = function (x1, y1) {
            this.x = x1;
            this.y = y1;
        };
        Sprite.prototype.setR = function (r1) {
            this.r = r1;
        };
        Sprite.prototype.setState = function (s1) {
            this.state = s1;
        };
        Sprite.prototype.setName = function (name1) {
            this.name = name1;
        };
        Sprite.prototype.setColor = function (c1) {
            this.color = c1;
        };
        Sprite.prototype.setHasBall = function (hb) {
            this.hasBall = hb;
        };
        Sprite.prototype.calcScreen = function (up, down) {
            var dx = up.x - down.x;
            var dy = up.y - down.y;
            this.theta = Math.atan(dy / dx);
        };

        /***************************Ball class***************************/
        function Ball(ctx, img1) {
            this.context = ctx;
            this.x = 0;
            this.y = 0;
            this.r = 30;
            this.img = img1;
        }

        Ball.prototype.draw = function () {
            this.context.drawImage(this.img, this.x - this.r, this.y - this.r, this.r * 2, this.r * 2);
        };
        Ball.prototype.update = function (x1, y1) {
            this.x = x1;
            this.y = y1;
        };
        Ball.prototype.setR = function (r1) {
            this.r = r1;
        };
        /***************************End of classes***************************/
        function createSprites(ctx, block_img) {
            sprites = [];
            for (i = 0; i < play.players.length; i++) {
                sprites.push(new Sprite(ctx, block_img));
                sprites[i].setR(bkgrd.width / 20);
                sprites[i].setName(play.players[i].name);
                if (play.players[i].team_color == -16711936)
                    sprites[i].setColor('green');
                else
                    sprites[i].setColor('red');
            }
        }

        function createBall(ctx, ball_img) {
            ball_radius = bkgrd.width / 20 * 0.8;
            //ball_img.style.width = '10px';//String(ball_radius *2);
            //ball_img.style.height = '10px';//String(ball_radius *2);
            ball = new Ball(ctx, ball_img);
            ball.setR(ball_radius);
        }

        var play_status = 0;
        $('#reset').click(function () {
            replay_progress = 0;
            start_play();
        });

        var src = "{% static 'img/uoft_court.jpg' %}";
        var loaded = false;
        play = {{ play.jsonstring|safe }};
        move = play.steps[0].playerMove;
        outline = document.getElementById("outline");
        context = outline.getContext("2d");

        var ball_src = "{% static 'img/bball.png' %}";
        var ball_img = new Image();

        var block_src = "{% static 'img/block.png' %}";
        var block_img = new Image();
        ball_img.onload = function () {
            bkgrd.src = src; // load the court after ball loads
        };
        block_img.onload = function () {
            ball_img.src = ball_src; // load the ball after block loads
        };
        block_img.src = block_src;
        bkgrd.onload = function () {
            unnormalizePosition();
            createSprites(context, block_img);
            createBall(context, ball_img);
            mainLoop(context, ball_img, block_img);
        };

        function start_play() {

            //WARNING: not checking if JSON is loaded...
            mainLoop(context, ball_img, block_img);
            var $play = $('#play');
            $play.removeClass('fa-play');
            $play.addClass('fa-pause');
            play_status = 1;

        }

        function stop_play() {
            play_status = 0;
            var $play = $('#play');
            $play.removeClass('fa-pause');
            $play.addClass('fa-play');
        }

        $('#play').click(function () {
            if (play_status == 0) {
                start_play();
            } else {
                stop_play();
            }

        });

        function unnormalizePosition() {
            var move = play.steps[0].playerMove;
            for (var i = 0; i < move.length; i++) {
                var player = move[i];
                var pos = player.points;
                for (var j = 0; j < pos.length; j++) {
                    pos[j].x = pos[j].x * bkgrd.width;
                    pos[j].y = pos[j].y * bkgrd.height;
                }

            }
        }

        function mainLoop(ctx, ball_img, block_img) {
            setTimeout(function () {
                drawLoop(ctx)
            }, 50);
        }

        function updateHasBall(hb) {
            if (hb[replay_progress] != -1) {
                for (var i = sprites.length - 1; i >= 0; i--) {
                    if (hb[replay_progress] == i) {
                        sprites[i].setHasBall(true);
                        curr_has_ball = i;
                    }
                    else sprites[i].setHasBall(false);
                }

            }
        }

        var speed = 20;

        function drawLoop(ctx) {

            updateHasBall(play.steps[0].whoHasBall);
            var use_update_by_pass = false;
            /*check events*/
            if ((curr_event_index < play.steps[0].events.length) && (play.steps[0].events[curr_event_index].timepoint == replay_progress)) {
                if (play.steps[0].events[curr_event_index].event_type == PASS) {
                    sprites[curr_has_ball].hasBall = false;
                    curr_has_ball = -1;
                    passingTo = play.steps[0].events[curr_event_index].passTo;
                    use_update_by_pass = true;
                }
                if (play.steps[0].events[curr_event_index].event_type == SCREEN) {
                    sprites[play.steps[0].events[curr_event_index].screenPlayerIndex].setState(SCREEN);
                    sprites[play.steps[0].events[curr_event_index].screenPlayerIndex].calcScreen(play.steps[0].events[curr_event_index].screenUp, play.steps[0].events[curr_event_index].screenDown);
                }
                if (play.steps[0].events[curr_event_index].event_type == DONESCREEN) {
                    sprites[play.steps[0].events[curr_event_index].doneScreenPlayerIndex].setState(0);
                }
                curr_event_index++;
            }


            ctx.drawImage(bkgrd, 0, 0);
            for (var i = sprites.length - 1; i >= 0; i--) {
                var pt = move[i].points[replay_progress];
                sprites[i].update(pt.x, pt.y);
                sprites[i].draw();
            }

            if ((use_update_by_pass == true) || (curr_has_ball == -1)) {
                updateBallByPass();
                ball.draw();
            }
            replay_progress++;
            if (play_status == 1 && replay_progress < move[0].points.length) {
                setTimeout(function () {
                    drawLoop(ctx)
                }, speed);
            } else if (play_status == 1 && replay_progress >= move[0].points.length) {
                replay_progress = 0;
                curr_event_index = 0;
                start_play();
                stop_play();
            }

        }

        function updateBallByPass() {
            var ref_dx = sprites[passingTo].x - ball.x;
            var ref_dy = sprites[passingTo].y - ball.y;
            var ref_dr = Math.sqrt(Math.pow(ref_dy, 2) + Math.pow(ref_dx, 2));
            var dx = PASS_SPEED / ref_dr * ref_dx;
            var dy = PASS_SPEED / ref_dr * ref_dy;
            var new_x = ball.x + dx;
            var new_y = ball.y + dy;
            if ((new_x - sprites[passingTo].x) * (ball.x - sprites[passingTo].x) < 0) {//pass complete
                curr_has_ball = passingTo;
                passingTo = -1;
            } else {
                ball.update(new_x, new_y);
            }

        }

        var snap_height = 298;
        var snap_width = 165;
        var $above = $('#above-canvas');
        var $canvases = $('#canvases');
        var $below = $('#below-canvas');
        $('#snapshot').click(function () {
            if (play_status == 1) {
                var $ele = $('<div class="large-2 small-12 columns"></div>');
                var $canvas = $('<canvas width="' + snap_width.toString() + '" height="' + snap_height.toString() + '"></canvas>');
                $ele.append($canvas);
                $canvases.append($ele);
                var snap_context = $canvas[0].getContext('2d');
                var canvas = document.getElementById("outline");
                var img = canvas.toDataURL("image/png");
                var image = new Image();
                image.addEventListener('load', function () {
                    snap_context.drawImage(image, 0, 0, snap_width, snap_height);
                }, false);
                image.src = img;
                $.post('{% url 'plays:add_snapshot' play.id %}', {'image': img}, function (data) {
                    var image = new Image();
                    image.addEventListener('load', function () {
                        snap_context.drawImage(image, 0, 0, snap_width, snap_height);
                    }, false);
                    image.src = '/media/' + data['path'];
                    var $ele = $('<div class="large-2 small-12 columns"></div>');
                    $ele.append('<button data-id="' + data['id'] + '">Remove Snapshot</button>');
                    $above.append($ele);
                    $ele = $('<div class="large-2 small-12 columns"></div>');
                    $ele.append('<textarea id="snap-' + data['id'] + '" disabled=disabled></textarea>');
                    $ele.append('<button data-id="' + data['id'] + '">Edit</button>');
                    $below.append($ele);
                });
            }
        });

        {% for snap in play.snapshot_set.all %}
            var image_{{ snap.id }} = new Image();
            image_{{ snap.id }}.addEventListener('load', function () {
                var $ele = $('<div class="large-2 small-12 columns"></div>');
                var $canvas = $('<canvas width="' + snap_width.toString() + '" height="' + snap_height.toString() + '"></canvas>');
                $ele.append($canvas);
                $canvases.append($ele);
                var snap_context = $canvas[0].getContext('2d');
                snap_context.drawImage(image_{{ snap.id }}, 0, 0, snap_width, snap_height);
                $ele = $('<div class="large-2 small-12 columns"></div>');
                $ele.append('<button data-id="{{ snap.id }}">Remove Snapshot</button>');
                $above.append($ele);
                $ele = $('<div class="large-2 small-12 columns"></div>');
                $ele.append('<textarea id="snap-{{ snap.id }}" disabled=disabled>{{ snap.annotation }}</textarea>');
                $ele.append('<button data-id="{{ snap.id }}">Edit</button>');
                $below.append($ele);
            }, false);
            image_{{ snap.id }}.src = '/media/' + '{{ snap.image.name }}';
        {% endfor %}
        var curr_snap = null;

        function remove_snap() {
            var id = $(this).data('id');
            curr_snap = $(this).parent().index();
            $.post('{% url 'plays:remove_snapshot' %}', {'snap-id': id}, function () {
                $above = $('#above-canvas');
                $canvases = $('#canvases');
                $below = $('#below-canvas');
                $($above.find('div')[curr_snap]).remove();
                $($canvases.find('div')[curr_snap]).remove();
                $($below.find('div')[curr_snap]).remove();
            });
        }

        function update_snap() {
            var id = $(this).data('id');
            var $text = $('#snap-' + id.toString());
            if ($text.is('[disabled=disabled]')) {
                $text.prop('disabled', false);
                $(this).text('Save');
            } else {
                var text = $text.val();
                curr_snap = $(this).parent().index();
                $.post('{% url 'plays:update_snapshot' %}', {'snap-id': id, 'annotation': text}, function () {
                    $text.prop('disabled', true);
                    $(this).text('Edit');
                });
            }
        }

        function bring_up_canvas() {
            //TODO: add canvas scaled
            $('#current-snap-light').lightbox_me({centered: true});
        }

        $above.on('click', 'button', remove_snap);
        $below.on('click', 'button', update_snap);
        $canvases.on('click', 'div', bring_up_canvas);

        //Full Canvas
        var state;
        var last_action;
        var line;
        var curr_line_width = 3;

        function setState(new_state) {
            state = new_state;
            /* modify the status span so the user knows what's being selected */
            state_p = document.getElementById("status");
            state_p.innerHTML = state;
        }

        function newLine() {
            setState("line");
        }

        function undo() {
            shapes.shift();
            drawShapes();
        }

        function redo() {
            if (last_action == "clear") {
                shapes = shapes_copy.slice(0);
                drawShapes();
                last_action = "redo";
            }
            if (shapes.length < shapes_copy.length) {
                shapes.unshift(shapes_copy[(shapes_copy.length - 1) - shapes.length]);
                drawShapes();
            }
        }


        function changeLineWidth() {
            var input = parseInt(prompt("Enter the Line Width Desired (Default was 5)"));
            if (!isNaN(input)) {
                curr_line_width = input;
                for (var i = 0; i < shapes.length; i++) {
                    var shape = shapes[i];
                    if (shape.isHighlighted) {
                        shape.setLineWidth(curr_line_width);
                    }
                }
                var line_width_p = document.getElementById("current_line_width");
                line_width_p.innerHTML = curr_line_width;
                drawShapes();

            }
        }

        function Shape() {
            this.color = "black";
            this.line_color;
            this.line_width = 3;
            this.isSelected = false;
            this.type_of_shape = "";
        }

        Shape.prototype.setColor = function (color) {
            this.color = color;
        };
        Shape.prototype.setOutlineColor = function (color) {
            this.line_color = color;
        };
        Shape.prototype.setStartPos = function (start_x, start_y) {
            this.start_x = start_x;
            this.start_y = start_y;
        };
        Shape.prototype.setEndPos = function (end_x, end_y) {
            this.end_x = end_x;
            this.end_y = end_y;
        };
        Shape.prototype.appendPos = function (x, y) {
            this.x.push(x);
            this.y.push(y);
        }
        Shape.prototype.setRef = function (clickX, clickY) {
            var ref_x = (this.start_x + this.end_x) / 2;
            var ref_y = (this.start_y + this.end_y) / 2;
            this.offset_x = clickX - ref_x;
            this.offset_y = clickY - ref_y;
        };
        Shape.prototype.move = function (clickX, clickY) {
            var ref_x = (this.start_x + this.end_x) / 2;
            var ref_y = (this.start_y + this.end_y) / 2;
            var dx = clickX - this.offset_x - ref_x;
            var dy = clickY - this.offset_y - ref_y;
            this.start_x += dx;
            this.start_y += dy;
            this.end_x += dx;
            this.end_y += dy;
        };
        Shape.prototype.setLineWidth = function (line_width) {
            this.line_width = line_width;
        }
        function Line(canvas) {
            this.x = new Array();
            this.y = new Array();
            this.dotted = false;
            this.head = "line"; // could be one of: 'nothing', 'arrow', 'line'
            this.context = canvas.getContext("2d");
            this.type_of_shape = "line";
        }

        Line.prototype = new Shape();
        Line.prototype.setDotted = function (bo) {
            this.dotted = bo;
        }
        Line.prototype.setHead = function (t) {
            this.head = t;
        }
        Line.prototype.appendPos = function (x, y) {
            this.x.push(x);
            this.y.push(y);
        }
        STEP_CONST = 10;
        Line.prototype.draw = function () {
            if (this.isHighlighted)
                this.context.globalAlpha = 1;
            else
                this.context.globalAlpha = 0.85;
            this.context.beginPath();
            if (this.dotted == true)
                this.context.setLineDash([8, 3]);
            else
                this.context.setLineDash([]);
            for (var i = 0; i < this.x.length; i++) {
                if (i == 0) {
                    this.context.moveTo(this.x[i], this.y[i]);
                } else {
                    this.context.lineTo(this.x[i], this.y[i]);
                }
            }
            ;

            //because i want to fill the arrow head, i have to start a new path (hence finishing this one here)..otherwise the fill() doesn't work right
            this.context.strokeStyle = this.line_color;
            this.context.lineWidth = this.line_width;
            this.context.stroke();

            if ((this.head == "line") || (this.head == "arrow")) {
                var dX = this.x[this.x.length - 1] - this.x[this.x.length - 1 - STEP_CONST];
                var dY = this.y[this.y.length - 1] - this.y[this.y.length - 1 - STEP_CONST];
                var R = Math.sqrt(Math.pow(dX, 2) + Math.pow(dY, 2));
                var xR = dX / R;
                var yR = dY / R;
                var offset = 0;

                if (this.head == "arrow") {
                    offset = 5;
                }
                this.context.beginPath();
                this.context.lineTo(this.x[this.x.length - 1 - offset] + STEP_CONST * yR, this.y[this.y.length - 1 - offset] - STEP_CONST * xR);
                this.context.lineTo(this.x[this.x.length - 1 - offset] - STEP_CONST * yR, this.y[this.y.length - 1 - offset] + STEP_CONST * xR);
                if (this.head == "arrow") {
                    this.context.lineTo(this.x[this.x.length - 1], this.y[this.y.length - 1]);
                    this.context.fillStyle = this.line_color;
                    this.context.fill();
                }
                this.context.stroke();
            }
        };

        function ColorButton(canvas, x, y, length, color) {
            this.context = canvas.getContext("2d");
            this.start_x = x;
            this.start_y = y;
            this.side_length = length;
            this.color = color;
            this.strokeColor = color;
        }

        ColorButton.prototype.draw = function () {
            this.context.globalAlpha = 0.85;
            this.context.beginPath();
            this.dir_x = (this.end_x - this.start_x) / Math.abs(this.end_x - this.start_x);
            this.dir_y = (this.end_y - this.start_y) / Math.abs(this.end_y - this.start_y);
            this.context.moveTo(this.start_x, this.start_y);
            this.context.lineTo(this.start_x + this.side_length, this.start_y);
            this.context.lineTo(this.start_x + this.side_length, this.start_y + this.side_length);
            this.context.lineTo(this.start_x, this.start_y + this.side_length);
            this.context.closePath();
            this.context.fillStyle = this.color;
            this.context.fill();
            if (this.isSelected) {
                this.context.strokeStyle = "black";
                this.context.lineWidth = 3;
            } else {
                this.context.strokeStyle = this.color;
                this.context.lineWidth = 1;
            }
            this.context.stroke();
        };

        ColorButton.prototype.testHit = function (testX, testY) {
            ref_x = this.start_x;
            ref_y = this.start_y;
            test_x_in_the_middle = ((this.start_x - testX) * (this.start_x + this.side_length - testX)) < 0;
            test_y_in_the_middle = ((this.start_y - testY) * (this.start_y + this.side_length - testY)) < 0;
            if (test_x_in_the_middle && test_y_in_the_middle) {
                return true;
            }
            return false;
        };

        function Head(canvas, x, y, w, h, elem) {
            this.context = canvas.getContext("2d");
            this.start_x = x;
            this.start_y = y;
            this.width = w;
            this.height = h;
            this.elem = elem;
            this.epislon = 12;
        }

        Head.prototype.draw = function () {
            this.context.globalAlpha = 0.85;
            this.context.beginPath();
            /*this.dir_x = (this.end_x - this.start_x) / Math.abs(this.end_x - this.start_x);
             this.dir_y = (this.end_y - this.start_y) / Math.abs(this.end_y - this.start_y);*/
            this.context.moveTo(this.start_x, this.start_y);
            this.context.lineTo(this.start_x + this.width, this.start_y);
            this.context.lineTo(this.start_x + this.width, this.start_y + this.height);
            this.context.lineTo(this.start_x, this.start_y + this.height);
            this.context.closePath();
            if (this.isSelected) {
                this.context.strokeStyle = "black";
                this.context.lineWidth = 3;
                this.context.stroke();
            }
            this.context.beginPath();
            if (this.elem == "line") {
                this.context.moveTo(this.start_x + this.width / 2, this.start_y);
                this.context.lineTo(this.start_x + this.width / 2, this.start_y + this.height);

            }
            if (this.elem == "arrow") {
                this.context.moveTo(this.start_x + this.width / 2 - this.epislon, this.start_y);
                this.context.lineTo(this.start_x + this.width / 2 - this.epislon, this.start_y + this.height);
                this.context.lineTo(this.start_x + this.width / 2 + this.epislon, this.start_y + this.height / 2);
                this.context.closePath();
            }
            this.context.strokeStyle = "black";
            this.context.lineWidth = 3;
            this.context.stroke();


        };

        Head.prototype.testHit = function (testX, testY) {

            ref_x = this.start_x;
            ref_y = this.start_y;
            test_x_in_the_middle = ((this.start_x - testX) * (this.start_x + this.width - testX)) < 0;
            test_y_in_the_middle = ((this.start_y - testY) * (this.start_y + this.height - testY)) < 0;
            if (test_x_in_the_middle && test_y_in_the_middle) {
                return true;
            }
            return false;
        };

        function Type(canvas, x, y, w, h, elem) {
            this.context = canvas.getContext("2d");
            this.start_x = x;
            this.start_y = y;
            this.width = w;
            this.height = h;
            this.elem = elem;
            this.epislon = 15;
        }

        Type.prototype.draw = function () {
            this.context.globalAlpha = 0.85;
            this.context.beginPath();
            /*this.dir_x = (this.end_x - this.start_x) / Math.abs(this.end_x - this.start_x);
             this.dir_y = (this.end_y - this.start_y) / Math.abs(this.end_y - this.start_y);*/
            this.context.moveTo(this.start_x, this.start_y);
            this.context.lineTo(this.start_x + this.width, this.start_y);
            this.context.lineTo(this.start_x + this.width, this.start_y + this.height);
            this.context.lineTo(this.start_x, this.start_y + this.height);
            this.context.closePath();
            if (this.isSelected) {
                this.context.strokeStyle = "black";
                this.context.lineWidth = 3;
                this.context.stroke();
            }
            this.context.beginPath();
            if (this.elem == true) {
                this.context.setLineDash([8, 3]);
            }
            if (this.elem == false) {
                this.context.setLineDash([]);
            }
            this.context.moveTo(this.start_x + this.epislon, this.start_y + this.height / 2);
            this.context.lineTo(this.start_x - this.epislon + this.width, this.start_y + this.height / 2);
            this.context.strokeStyle = "black";
            this.context.lineWidth = 3;
            this.context.stroke();
            this.context.setLineDash([]);

        };

        Type.prototype.testHit = function (testX, testY) {

            ref_x = this.start_x;
            ref_y = this.start_y;
            test_x_in_the_middle = ((this.start_x - testX) * (this.start_x + this.width - testX)) < 0;
            test_y_in_the_middle = ((this.start_y - testY) * (this.start_y + this.height - testY)) < 0;
            if (test_x_in_the_middle && test_y_in_the_middle) {
                return true;
            }
            return false;
        };
// This array hold all the shapes on the canvas.
        var shapes = [];
        var shapes_copy = [];

        var canvas;
        var context;
        var fill;
        var fill_context;
        var outline;
        var outline_context;
        var head;
        var head_context;
        var type;
        var type_context;
        var colors;
        var curr_color = null;
        var curr_head = null;
        var curr_type = null;
        var curr_outline_color = null;
        var fill_buttons = [];
        var outline_buttons = [];
        var head_buttons = [];
        var type_buttons = [];
        var previousSelectedFillButtonIndex = 0;
        var previousSelectedOutlineButtonIndex = 0;
        var previousSelectedHeadButtonIndex = 0;
        var previousSelectedTypeButtonIndex = 0;
        window.onload = function () {
            canvas = document.getElementById("canvas");
            context = canvas.getContext("2d");
            /*fill = document.getElementById("fill");
             fill_context = fill.getContext("2d");*/
            outline = document.getElementById("outline");
            outline_context = outline.getContext("2d");
            head = document.getElementById("head");
            head_context = head.getContext("2d");
            type = document.getElementById("type");
            type_context = type.getContext("2d");

            canvas.onmousedown = canvasMouseDown;
            canvas.onmouseup = canvasMouseUp;
            canvas.onmouseout = canvasMouseUp;
            canvas.onmousemove = canvasMouseMove;
            canvas.onclick = canvasMouseClick;

            /*  fill.onclick = fillMouseClick;
             createColors(fill_buttons, fill, "fill");*/
            outline.onclick = outlineMouseClick;
            createColors(outline_buttons, outline, "outline");

            head.onclick = headMouseClick;
            createHeads(head_buttons, head);

            type.onclick = typeMouseClick;
            createTypes(type_buttons, type);
            drawButtons();

            var line_width_p = document.getElementById("current_line_width");
            line_width_p.innerHTML = curr_line_width;
            setState("line");
        };
        function createColors(buttons, panel, called_from) {
            colors = ["green", "blue", "red", "yellow", "magenta", "orange", "brown", "purple", "pink", "black"];
            var length = panel.height / 2;
            for (var i = 0; i < colors.length; i += 2) {
                buttons.push(new ColorButton(panel, i / 2 * length, 0, length, colors[i]));
                buttons.push(new ColorButton(panel, i / 2 * length, length, length, colors[i + 1]));
            }
            buttons[0].isSelected = true;
            if (called_from == "fill") {
                curr_color = colors[0];
                previousSelectedFillButtonIndex = 0;
            }
            if (called_from == "outline") {
                curr_outline_color = colors[0];
                previousSelectedOutlineButtonIndex = 0;
            }

        };
        heads_elem = ["nothing", "line", "arrow"];
        function createHeads(buttons, panel) {
            var NUM = heads_elem.length;
            var length = panel.width / NUM;
            var epi = 4;
            buttons.push(new Head(panel, 0 * length, 0, length, panel.height, heads_elem[0]));
            buttons.push(new Head(panel, 1 * length, 0, length, panel.height, heads_elem[1]));
            buttons.push(new Head(panel, 2 * length, 0, length, panel.height, heads_elem[2]));
            buttons[0].isSelected = true;
            curr_head = heads_elem[0];
            previousSelectedHeadButtonIndex = 0;
        };

        types_elem = [true, false];
        function createTypes(buttons, panel) {
            var NUM = types_elem.length;
            var length = panel.width / NUM;
            var epi = 4;
            buttons.push(new Type(panel, 0 * length, 0, length, panel.height, types_elem[0]));
            buttons.push(new Type(panel, 1 * length, 0, length, panel.height, types_elem[1]));
            buttons[0].isSelected = true;
            curr_type = types_elem[0];
            previousSelectedTypeButtonIndex = 0;
        };


        function clearCanvas() {
            last_action = "clear";
            shapes = [];
            drawShapes();
        }

        function drawShapes() {
            // Clear the canvas.
            context.clearRect(0, 0, canvas.width, canvas.height);

            // Go through all the shapes.
            for (var i = shapes.length - 1; i >= 0; i--) {
                var shape = shapes[i];
                shape.draw();
            }
        }

        function drawButtons() {
            /*// Clear the canvas.
             fill_context.clearRect(0, 0, fill.width, fill.height);
             // Go through all the shapes.
             for(var i= 0; i < fill_buttons.length; i++) {
             fill_buttons[i].draw();
             }*/

            outline_context.clearRect(0, 0, outline.width, outline.height);
            for (var i = 0; i < outline_buttons.length; i++) {
                outline_buttons[i].draw();
            }

            head_context.clearRect(0, 0, head.width, head.height);
            for (var i = 0; i < head_buttons.length; i++) {
                head_buttons[i].draw();
            }

            type_context.clearRect(0, 0, type.width, type.height);
            for (var i = 0; i < type_buttons.length; i++) {
                type_buttons[i].draw();
            }
        }


        var click_event = false; // javascript's mouseclick event can happen even if user select, drag, and release the mouse, and it happens after mouseUp
// in our case, we'll not treat those as mouse click.  We'll detect actually click by a down and up without move
        function canvasMouseDown(e) {
            // Get the canvas click coordinates.
            var clickX = e.pageX - canvas.offsetLeft;
            var clickY = e.pageY - canvas.offsetTop;
            click_event = true;
            if (state == "line") {
                // Create the new Line.
                line = new Line(canvas);
                line.appendPos(clickX, clickY);
                line.setLineWidth(curr_line_width);
                line.setDotted(curr_type);
                line.setHead(curr_head);
                line.setOutlineColor(curr_outline_color);
                if (curr_color != null) {
                    line.setColor(curr_color);
                }
                return;
            }
            if (state == "DottedLine") {
                // Create the new Line.
                line = new Line(canvas);
                line.appendPos(clickX, clickY);
                line.setLineWidth(curr_line_width);
                line.setDotted(true);
                line.setOutlineColor(curr_outline_color);
                if (curr_color != null) {
                    line.setColor(curr_color);
                }
                return;
            }

            var i = selectedShapeIndex(clickX, clickY);
            if (i != -1) {
                shapes[i].isSelected = true;
                shape = shapes.splice(i, 1);
                shape[0].setRef(clickX, clickY);
                shapes.unshift(shape[0]);
                return;
            }
        }

        function canvasMouseMove(e) {
            // Get the canvas click coordinates.
            var clickX = e.pageX - canvas.offsetLeft;
            var clickY = e.pageY - canvas.offsetTop;
            click_event = false;
            if ((state == "line") || (state == "DottedLine")) {
                if (line != null) {
                    line.appendPos(clickX, clickY);
                    drawShapes();
                    line.draw();
                }
                return;
            }
            if (shapes[0].isSelected) {
                shapes[0].move(clickX, clickY);
                drawShapes();
            }
            return;

        }

        function canvasMouseUp(e) {
            // Get the canvas click coordinates.
            var clickX = e.pageX - canvas.offsetLeft;
            var clickY = e.pageY - canvas.offsetTop;

            if ((state == "line") || (state == "DottedLine")) {
                line.appendPos(clickX, clickY);
                shapes.unshift(line);
                //whenver there's new action, make a copy of shapes, this is to update shapes_copy in order to 'redo'
                shapes_copy = shapes.slice(0);
                drawShapes();
                line = null;
                resetState();
                return;
            }
            shapes[0].isSelected = false;
            return;

        }

        function resetState() {
            last_action = state;
            //setState("");
        }

        var num_highlighted = 0;

        function canvasMouseClick(e) {
        }

        function fillMouseClick(e) {
            onColorClick(e, fill, fill_buttons, "fill")
        }

        function outlineMouseClick(e) {
            onColorClick(e, outline, outline_buttons, "outline")
        }

        function headMouseClick(e) {
            onColorClick(e, head, head_buttons, "head")
        }

        function typeMouseClick(e) {
            onColorClick(e, type, type_buttons, "type")
        }

        function onColorClick(e, panel, buttons, called_from) {
            var clickX = e.pageX - panel.offsetLeft - panel.style.borderWidth;
            var clickY = e.pageY - panel.offsetTop - panel.style.borderWidth;

            var i = selectedButtonIndex(buttons, clickX, clickY);
            if (i != -1) {
                buttons[i].isSelected = true;
                if (called_from == "fill") {
                    if (previousSelectedFillButtonIndex != -1) {
                        buttons[previousSelectedFillButtonIndex].isSelected = false;
                    }
                    curr_color = colors[i];
                    /* set the colors of the highlighted items */
                    setHighlightedColor("fill");
                    previousSelectedFillButtonIndex = i;
                }
                if (called_from == "outline") {
                    if (previousSelectedOutlineButtonIndex != -1) {
                        buttons[previousSelectedOutlineButtonIndex].isSelected = false;
                    }
                    curr_outline_color = colors[i];
                    /* set the colors of the highlighted items */
                    setHighlightedColor("outline");
                    previousSelectedOutlineButtonIndex = i;
                }
                if (called_from == "head") {
                    if (previousSelectedHeadButtonIndex != -1) {
                        buttons[previousSelectedHeadButtonIndex].isSelected = false;
                    }
                    curr_head = heads_elem[i];
                    previousSelectedHeadButtonIndex = i;
                }
                if (called_from == "type") {
                    if (previousSelectedTypeButtonIndex != -1) {
                        buttons[previousSelectedTypeButtonIndex].isSelected = false;
                    }
                    curr_type = types_elem[i];
                    previousSelectedTypeButtonIndex = i;
                }
                drawButtons();
            }
        }

        function setHighlightedColor(called_from) {
            for (var i = 0; i < shapes.length; i++) {
                var shape = shapes[i];
                if (shape.isHighlighted) {
                    if (called_from == "fill") shape.setColor(curr_color);
                    if (called_from == "outline") shape.setOutlineColor(curr_outline_color);
                }
            }
            drawShapes();
        }

// find the selected shape based on input coordinate
// return the index of the selected shape.
        function selectedShapeIndex(clickX, clickY) {
            for (var i = 0; i < shapes.length; i++) {
                var shape = shapes[i];
                if (shape.testHit(clickX, clickY)) {
                    return i;
                }
            }
            return -1;
        }

// find the selected shape based on input coordinate
// return the index of the selected shape.
        function selectedButtonIndex(buttons, clickX, clickY) {
            for (var i = 0; i < buttons.length; i++) {
                var button = buttons[i];
                if (button.testHit(clickX, clickY)) {
                    return i;
                }
            }
            return -1;
        }
    });
    </script>
{% endblock %}