html {
    height: 100%;
}

body {
    height: 100%;
}

.button {
    font-family: 'Capriola', sans-serif;
}

body, p, h1, h2, h3, h4, span, a {
    font-family: 'Capriola', sans-serif;
}

.fade {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
}

header {
    background: #d0d0d0 center center no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding-bottom: 40px;
    height: 100%;
}

header > .row {
    padding-top: 20px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

button.radius, .button.radius {
    background: #D32024;
    border-radius: 7px;
}

button:focus, button:hover, .button:focus, .button:hover {
    background: #D7895C;
}

.middle-row {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel {
    background: #fff;
    color: #555;
    padding: 5% 5%;
    text-align: center;
}

.bottom-row {
    color: #fff;
    background-color: #241012;
    padding-top: 40px;
    padding-bottom: 10px;
}

.panel input[type='text'], .panel input[type='email'], .panel input[type='password'] {
    width: 100%;
    padding: 5%;
    margin-bottom: 1em;
    min-height: 3em;
}

.chosen-choices, .search-field {
    min-height: 2em;
}

.chosen-choices, .search-field, input {
    min-height: 2em;
}

div.class_team_actions {
    background: white;
    font-size: 24px;
    font-weight: bold;
    color: #11FF33;
    font-family: arial;
    padding: 20px;
}

div.class_team_actions:hover {
    background: #F5FFF5;
    color: #11DD11;
}

div.class_news_item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f7f7f7;
}

div.class_news_item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

div.class_team_name {
    background: white;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    padding: 10px;
    color: #000000;
}

div.class_team_name:hover {
    background: #f0f0f0;
}

div.filter_button {
    padding-top: 12px;
    height: 40px;
    background-color: #56ff56;
    border-radius: 10px;
}

div.filter_button:hover {
    cursor: pointer;
    background-color: #45ee45;
}

.labels {
    display: block;
    max-width: 100%;
    padding: 6px 10px;
    font-size: 14px;
    box-shadow: none;
    margin-bottom: 15px;
    text-align: left;
    background-color: #ccc;

}

.labels.selected {
    background-color: #45ee45;
}

.labels .close {
    float: right;
}

.light-box {
    display: none;
    background: #fff;
}

#canvas {
    border: 1px solid black;
    background-color: white;
    float: left;
}

div.setting {
    width: 150px;
    float: left;
}

div.status {
    clear: left;
}

button {
    width: 130px;
    font-family: arial;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}

p {
    font-size: 30px;
    font-family: serif;
}

