{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SportsTab</title>

<!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">

<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/fitVids.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
<script src="{% static 'js/vendor/modernizr.min.js' %}"></script>