{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalheaders %}
    <!-- Main Content Section -->
{% endblock %}
{% block content %}
    <div class="row" style="padding-bottom: 40px">
        <div class="large-12 columns">
            <div class="fluid-width-video-wrapper" style="height: 545px">
                <iframe src="//player.vimeo.com/video/88318922?title=0&amp;byline=0&amp;portrait=0&amp;badge=0"
                        frameborder="0" webkitallowfullscreen mozallowfullscreen width="1200" height="1000"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- Call to Action Panel -->
    <div class="middle-row">
        <div class="row">
            <div class="large-12 columns">

                <div class="panel">
                    <div class="row">
                        <div class="large-6 columns">
                            <div class="thinglist-iphone animated bounceInLeft">
                                <p><img src="{% static 'img/device-2014-03-11-174124_framed.png' %}"></p>
                            </div>
                        </div>
                        <div class="large-6 columns" style="text-align: center">
                            <h1 style="color: #fff; margin-top: 150px">What is SportsTab?</h1>
                            <hr/>
                            <p>A strange new restaurant. A book with a nice cover. A far-out dancer. We built Thinglist
                                so we could remember things in our personal life – a want to-do list.</p>

                            <a href="#" class="radius button" style="margin-top: 20px">Available on Play Store</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#video').fitVids();
    </script>
{% endblock %}