{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalheaders %}
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="row" style="min-width: 100%; background: #fff; padding-top: 4%; ">
        <div class="large-12 columns">
            <dl class="tabs vertical" style="padding-left: 0; " data-tab>
                <dd class="active"><a href="#panel1a" style="font-weight: bold;">Home</a></dd>
                <dd><a href="#panel2a" style="font-weight: bold;">Teams</a></dd>
            </dl>
            <div class="tabs-content vertical" style="background: white;">
                <div class="content active" id="panel1a">
                    <div class="small-8 columns">
                        <div style="text-align: center;">
                            <h4 style="color: #990000; padding-bottom: 20px; ">Plays</h4>

                            <div class="row">
                                <div class="small-11 columns">
                                    <input type="text" name="search-terms" placeholder="Filter by team or keywords">
                                </div>
                                <div class="small-1 columns" style="padding: 0;">
                                    <div class="filter_button">Go</div>
                                </div>
                            </div>
                            <div class="row">
                                You have {{ user.play_set.count }} plays!
                                {% for p in user.play_set.all %}
                                    <div class="small-1 columns" style="width: 200px; height: 300px;">
                                        <a href="{% url 'plays:view_team' p.id %}">
                                            <p>{{ p.name }}</p>

                                            <p><img src="/media/{{ p.preview.name }}"/></p>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="small-4 columns">
                        <div style="text-align: center;">
                            <h4 style="color: #990000; padding-bottom: 20px; ">Recent Activity</h4>
                            {% for feed in feeds %}
                                <div
                                    class="class_news_item">{{ feed.actor.first_name }} {{ feed.actor.last_name }} {{ feed.verb }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="content" id="panel2a" style="width: 70%;">
                    <div class="row" style="padding-top: 20px; padding-bottom: 10px; ">
                        <div class="small-12 columns" style="text-align: center; ">
                            <dl class="accordion" data-accordion>
                                <dd>
                                    <a href="#panel_join" style="background: white;" onClick="chosen_select();">
                                        <div class="class_team_actions">
                                            Join Team
                                        </div>
                                    </a>

                                    <div id="panel_join" class="content" style="padding: 0;">
                                        {% csrf_token %}
                                        <div class="row">
                                            <select id="team-to-join" name="team-to-join" multiple
                                                    data-placeholder="Select a team"
                                                    class="chosen-select">
                                                {% for team in all_teams %}
                                                    <option value="{{ team }}">
                                                        {{ team.team_name }} by {{ team.manager }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button class="radius button" id="join-team" style="margin-top: 10px">Join
                                        </button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px; padding-bottom: 10px; ">
                        <div class="small-12 columns" style="text-align: center; ">
                            <a href="{% url 'plays:create_team' %}">
                                <div class="class_team_actions">
                                    Create Team
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px; padding-bottom: 10px; ">
                        <div class="small-12 columns" style="text-align: center; ">
                            <dl class="accordion" data-accordion>
                                <dd>
                                    <a href="#panel_edit" style="background: white; padding: 0px; ">
                                        <div class="class_team_actions">
                                            Edit Team
                                        </div>
                                    </a>

                                    <div id="panel_edit" class="content" style="padding: 0px; ">
                                        {% for team in my_teams %}
                                            <a href="{% url 'plays:view_team' team.id %}"
                                               style="background:white; padding: 0;">
                                                <div class="class_team_name">
                                                    {{ team.team_name }}
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block inbodyscripts %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/foundation/foundation.tab.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.accordion.js' %}"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script>
        function chosen_select() {
            setTimeout(function () {
                $(".chosen-select").chosen();
            }, 100);
        }
        $(function () {
            //$(".chosen-select").chosen();
        });
        function filter() {
            // Go over all images and if tag is not present, make it invisible
        }
    </script>
{% endblock %}
