{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalheaders %}
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="row" style="min-width: 100%; background: #fff; padding-top: 4%; ">
        <div class="large-12 columns">
            <dl class="tabs vertical" style="padding-left: 0; " data-tab>
                <dd class="active"><a href="#panel1a" style="font-weight: bold;">Home</a></dd>
                <dd><a href="#panel2a" style="font-weight: bold;">Teams</a></dd>
            </dl>
            <div class="tabs-content vertical" style="background: white;">
                <div class="content active" id="panel1a">
                    <div class="small-8 columns">
                        <div style="text-align: center;">
                            <h4 style="color: #990000; padding-bottom: 20px; ">Plays</h4>

                            <div class="row" id="filts">
                                <p style="text-align: left">Filters</p>

                                <div class="small-2 columns">
                                    <span
                                        class="labels selected all">All</span>
                                </div>
                                {% for pref in user.profile.preferred_tags.all %}
                                    <div class="small-2 columns">
                                    <span
                                        class="labels">{{ pref.tag_name }}</span>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="row" id="plays-list">
                                <div class="small-12 columns">
                                    <input type="text" name="search-terms" class="search"
                                           placeholder="Filter by team or tags">
                                </div>
                                <div class="small-12 columns">
                                    You have {{ plays.count }} plays!
                                    <ul style="list-style: none" class="list">
                                        {% if plays %}
                                            {% for p in plays %}
                                                <li>
                                                    <div class="small-1 columns"
                                                         style="width: 200px; height: 300px;">
                                                        <a href="{% url 'plays:view_play' p.id %}">
                                                            <p class="play-name">{{ p.name }}</p>

                                                            <p class="tags" style="display: none">
                                                                {% for t in p.get_string_tags %}-{{ t }}
                                                                    -{% endfor %}</p>

                                                            <p><img src="/media/{{ p.preview.name }}"/></p>
                                                        </a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="small-4 columns">
                        <div style="text-align: center;">
                            <h4 style="color: #990000; padding-bottom: 20px; ">Recent Activity</h4>
                            {% for feed in feeds %}
                                <div
                                    class="class_news_item">{{ feed.actor.first_name }} {{ feed.actor.last_name }} {{ feed.verb }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="content" id="panel2a" style="width: 70%;">
                    <div class="row" style="padding-top: 20px; padding-bottom: 10px; ">
                        <div class="small-12 columns" style="text-align: center; ">
                            <dl class="accordion" data-accordion>
                                <dd>
                                    <a href="#panel_join" style="background: white;" onClick="chosen_select();">
                                        <div class="class_team_actions">
                                            Join Team
                                        </div>
                                    </a>

                                    <div id="panel_join" class="content" style="padding: 0;">
                                        {% csrf_token %}
                                        <div class="row">
                                            <select id="team-to-join" name="team-to-join" multiple
                                                    data-placeholder="Select a team"
                                                    class="chosen-select">
                                                {% for team in all_teams %}
                                                    <option value="{{ team }}">
                                                        {{ team.team_name }} by {{ team.manager }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button class="radius button" id="join-team" style="margin-top: 10px">Join
                                        </button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px; padding-bottom: 10px; ">
                        <div class="small-12 columns" style="text-align: center; ">
                            <a href="{% url 'plays:create_team' %}">
                                <div class="class_team_actions">
                                    Create Team
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px; padding-bottom: 10px; ">
                        <div class="small-12 columns" style="text-align: center; ">
                            <dl class="accordion" data-accordion>
                                <dd>
                                    <a href="#panel_edit" style="background: white; padding: 0px; ">
                                        <div class="class_team_actions">
                                            Edit Team
                                        </div>
                                    </a>

                                    <div id="panel_edit" class="content" style="padding: 0px; ">
                                        {% for team in my_teams %}
                                            <a href="{% url 'plays:view_team' team.id %}"
                                               style="background:white; padding: 0;">
                                                <div class="class_team_name">
                                                    {{ team.team_name }}
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block inbodyscripts %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/foundation/foundation.tab.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.accordion.js' %}"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
    <script>
        function chosen_select() {
            setTimeout(function () {
                $(".chosen-select").chosen();
            }, 100);
        }
        $(function () {
            //$(".chosen-select").chosen();
        });
        var selected_filters = [];
        $('#filts').find('span').click(function () {
            var label = '-' + $(this).text() + '-';
            if (label == "-All-") {
                $('.list').find('li').show();
                $('#filts').find('span').removeClass('selected');
                $(this).addClass('selected');
            } else {
                var $list = $('.list').find('li');
                $('#filts').find('.all').removeClass('selected');
                $(this).toggleClass('selected');
                if ($(this).hasClass('selected')) {
                    selected_filters.push(label);
                } else {
                    $.each(selected_filters, function (i) {
                        if (selected_filters[i] === label) {
                            selected_filters.splice(i, 1);
                            return false;
                        }
                    });
                }
                $list.show();
                $list.each(function (index) {
                    var some = false;
                    for (var i = 0; i < selected_filters.length; i++) {
                        if ($(this).find('.tags').text().indexOf(selected_filters[i]) == -1 && $(this).find('.play-name').text().indexOf(selected_filters[i]) == -1) {
                            some = true;
                            break;
                        }
                    }
                    if (!some) {
                        $(this).hide();
                    }
                });
            }


        });

        function filter() {
            // Go over all images and if tag is not present, make it invisible
        }
        var options = {
            valueNames: [ 'play-name', 'tags' ]
        };

        var list = new List('plays-list', options);
    </script>
{% endblock %}
